In [29]:
import pandas as pd

url = "./1_data storage/BankChurners.csv"
df = pd.read_csv(url)
df.shape

(10127, 23)

In [23]:
import sqlalchemy as db

engine = db.create_engine('sqlite:///DB.db')

In [27]:
# Have to create the DB with a with statement because it'll auto close it afterwards 
# Creating the table called "raw_data"
with engine.connect() as connect:
    df.to_sql(
        name="raw_data",
        con=connect,
        if_exists="replace",
    )

In [25]:
#To inspect the db we need this
inspector = db.inspect(engine)

# Get table information
print(inspector.get_table_names())

['raw_data']

In [28]:
df = pd.read_sql("SELECT * FROM raw_data", con=engine)

AttributeError: 'OptionEngine' object has no attribute 'execute'